@model StudentNoteMVC.Models.EntityFramework.tbl_clubs

@{
    ViewBag.Title = "Kulüp Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kulüp Kaydı</h2>

@using (Html.BeginForm("CreateClub", "Clubs", FormMethod.Post, new { @class = "form-group" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.clb_name, "Kulüp Adı")
        @Html.TextBoxFor(model => model.clb_name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.clb_quota, "Kulüp Konteyjanı")
        @Html.TextBoxFor(model => model.clb_quota, new { @class = "form-control", type = "number" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Kaydet</button>
        <a href="@Url.Action("Index", "Clubs")" class="btn btn-secondary">İptal</a>
    </div>
}
