@model StudentNoteMVC.Models.EntityFramework.tbl_clubs

@{
    ViewBag.Title = "Kulüp Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kulüp Güncelleme</h2>
<hr />

@using (Html.BeginForm("EditClub", "Clubs", FormMethod.Post, new { @class = "form-group" }))
{
    @Html.HiddenFor(model => model.clb_id)

    <div class="form-group">
        @Html.LabelFor(model => model.clb_name, "Kulüp Adı")
        @Html.EditorFor(model => model.clb_name, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.clb_quota, "Kulüp Konteyjanı")
        @Html.EditorFor(model => model.clb_quota, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info">Güncelle</button>
        <a href="@Url.Action("Index", "Clubs")" class="btn btn-secondary">İptal</a>
    </div>
}
