@model StudentNoteMVC.Models.EntityFramework.tbl_grades

@{
    ViewBag.Title = "Not Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Not Ekle</h2>

@using (Html.BeginForm("CreateGrade", "Grades", FormMethod.Post, new { @class = "form form-group" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.grd_cls_id, "Ders", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("grd_cls_id", ViewData["Classes"] as SelectList, "Ders Seçin", new { @class = "form-control", required = "required"})
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.grd_std_id, "Öğrenci", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("grd_std_id", ViewData["Students"] as SelectList, "Öğrenci Seçin", new { @class = "form-control", required = "required"})
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.grd_exam1, "Sınav1", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.grd_exam1, new { htmlAttributes = new { @class = "form-control", id = "exam1", name = "grd_exam1" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.grd_exam2, "Sınav2", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.grd_exam2, new { htmlAttributes = new { @class = "form-control", id = "exam2", name = "grd_exam2" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.grd_exam3, "Sınav3", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.grd_exam3, new { htmlAttributes = new { @class = "form-control", id = "exam3", name = "grd_exam3" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.grd_project, "Proje", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.grd_project, new { htmlAttributes = new { @class = "form-control", id = "project", name = "grd_project" } })
    </div>

    <button type="submit" class="btn btn-success">Kaydet</button>
}
