@using StudentNoteMVC.Models.EntityFramework
@model List<tbl_students>

@{
    ViewBag.Title = "Öğrenci Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öğrenci Listesi</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Öğrenci Adı</th>
            <th>Öğrenci Soyadı</th>
            <th>Öğrenci Cinsiyeti</th>
            <th>Öğrenci Fotoğrafı</th>
            <th>Öğrenci Kulübü</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.std_id</td>
                <td>@item.std_name</td>
                <td>@item.std_surname</td>
                @if (item.std_gender == true)
                {
                    <td>Erkek</td>
                }
                else if (item.std_gender == false)
                {
                    <td>Kadın</td>
                }
                <td><img src="@item.std_photo" alt="Fotoğraf" /></td>
                @if (item.std_clb_id == null)
                {
                    <td>Kulübü Yok</td>
                }
                else
                {
                    <td>@item.tbl_clubs.clb_name</td>
                }
                <td><a href="/Students/EditStudent/@item.std_id" class="btn btn-warning">Güncelle</a></td>
                <td><a href="/Students/DeleteStudent/@item.std_id" class="btn btn-danger">Sil</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="/Students/AddStudent" class="btn btn-primary">Yeni Öğrenci Ekle</a>